body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF
}
ul{
    list-style-type: none;
}
a {
    text-decoration: none;
}
.button{
    cursor: pointer;
}
h1,
h2,
h3,
p{
    margin-top: 0;
    margin-bottom: 0;
}
ul,
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.page-header{
    border-bottom: 1px solid #e7e9fc;
    padding-top: 24px;
    padding-bottom: 24px;
}
.header{
    display: flex;
}
.container{ 
    width: 1158px;
    margin-left: auto; 
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.page-navigator{
    display: flex;
    align-items: center;
}
.menu-list{
    display: flex;
    gap: 40px;
}
.web-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}
.studio {
    color:#2e2f42;
}
.box::before,
.box::after{
    content:"";
    width: 100px;
    height: 2px;
    background-color:aquamarine;
}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42; 
    padding: 24px 0;
}
.menu-link:hover,
.menu-link:focus{
    color: #404bbf;
}
.page-address{
    font-style: normal;
    margin-left: auto;
}
.menu-contact-list{
    display: flex;
    gap: 40px;
}



.menu-contact-list-list{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
.menu-contact-list-list:hover, 
.menu-contact-list-list:focus{
    color:#404bbf;
}




            

.hero-section {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
}
.hero{
    
}
.hero-section-text{
    letter-spacing: 0.02em;
    line-height: 1.07;
    font-size: 56px;
    color: #FFFFFF;
    text-align: center;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}
.one-button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.one-button:hover,
.one-button:focus{
    background-color: #404BBF ;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.menu{
   margin-bottom: 8px;
}
.menu-functions-list{
    display: flex;
    gap: 24px; 
}
.menu-functions-item{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
}
.menu-team{
    background-color: #F4F4FD;
}
.menu-pictures-text{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.menu-team-list{
    display: flex;
    gap: 24px;  
}
.team-container-item{
    padding: 32px 0;
}
.item{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.menu-team-item{
    background-color: #FFFFFF;
    justify-content: center;
    background: var(--WHITE, #FFF);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team{
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px; 
}
.name{
    text-align: center;
    margin-bottom: 8px;
}
.position{
    text-align: center; 
}
.name-team-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42; 
}
.menu-team-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    
}
.portfolio{
    flex-wrap: wrap;
    row-gap: 48px;
}
.image{
    margin-bottom: 8px;
}


.menu-footer{
    background-color:#2E2F42 ;
    padding-top: 100px;
    padding-bottom: 100px;
}
.menu-footer-logotype{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
.menu-footer-studio{
    color: #f4f4fd;
}
.footer-text{
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.footer{
    display: flex;
    align-items: baseline;

}